body {
    font-family: Arial, Helvetica, sans-serif;
    color: #6a6969;
}

h3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

a, 
input,
button {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.collapse {
    background-color: #fffabe;
}

nav {
    background-color: #fffabe;
}

.navbar-toggler{
    color: black;
}

.navbar-default .navbar-nav {
    text-align: center;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 25px;
}

nav ul li > a {
    text-transform: uppercase;
    line-height: 25px;
    font-size: 16px;
    padding: 25px;
    color: #515151;
}

.banner img {
    width: 100%;
}

.main-content {
    margin: 50px 0;
}

.main-content .row img {
    margin-top: 100px;
}


.weekly-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.menu-item {
    width: 126px;
    height: 140px;
    background-color: #fffabe;
    margin: 1%;
    display: flex;
    flex-direction: column;
}

.menu-item > * {
    height: 25%;
    vertical-align: middle;
    padding: 8px;
    color: #6a6969;
    font-size: 12px;
}

.menu-item img {
    float: right;
}

.coconut{
    background-color: #824603;
}

.vanilla {
    background-color: #df5277;
}

.lemon {
    background-color: #a2304e;
}

.almond {
    background-color: #c39005;
}

.coconut, .vanilla, .lemon, .almond {
    color: white;
}